* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 12px;
  font-weight: 500;
  background-color: #0e0e0e;
}

h1{
font-size: 38px;
font-weight: 900;
margin-bottom: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  background-color: #f0eeeb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 7.5rem;
}

.h-title {
  font-size: 16px;
  font-weight: 800;
}

.h-menu-list {
  list-style: none;
  display: flex;
}

.h-menu-list-item {
  display: inline-block;
  padding: 0.875rem;
}

.h-hamburger {
  display: none;
  justify-content: space-evenly;
}

.btn1 {
  padding: 0.8rem 1rem;
}

.btn2 {
  padding: 0.8rem 1rem;
  background-color: black;
  border-radius: 6px;
  color: white;
}

.content{
background-color: #ffffff;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7.5rem;
}

.flex-items{
  max-width: 45%;
}

.logo{
  max-width: 80px;
  padding: 24px 0;
}

.flex-items img{
  max-width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2.7rem 7.5rem;
  color: white;
  background-color: #000000;
  font-weight: lighter;
  line-height: 25px;
}

.f-links{
  display: flex;
  justify-content: space-between;
}

.f-description{
max-width: 40%;
}

.f-list{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 24px;
}

.f-list a{
  font-size: 12px;
}

@media screen and (max-width: 720px) {
  .header {
    padding: 1rem;
  }

  .h-btn {
    display: none;
  }

  .h-hamburger {
    display: initial;
    align-items: center;
    cursor: pointer;
  }

  .footer {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;

  }

  .f-description, .f-links, .f-list {
    max-width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
    }

}
