@font-face {
  font-family: Prata;
  src: local(Prata), url(../Assets/fonts/Prata.ttf);
}

@font-face {
  font-family: Inter;
  src: local(Inter), url(../Assets/fonts/Inter.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Inter;
  font-size: 0.75rem;
  background-color: #0e0e0e;
}

h1 {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 40px;
  font-family: Prata;
  font-weight: 200;
  line-height: 50px;
}

h2 {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 28px;
  font-family: Prata;
  font-weight: 200;
  line-height: 35px;
}

p {
  padding-bottom: 10px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  max-width: 960px;
  margin: auto;
  background-color: #0a0a0b;
}

/* NAVEGACAO*/
.navbar {
  margin: auto;
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1.25rem;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.btn {
  align-items: center;
  background-color: #fbe850;
  padding: 0.5rem;
  height: 1.25rem;
  width: 4.5rem;
  color: #0a0a0b;
}

#toggler,
.navbar label {
  display: none;
}

/* PAGINA*/

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  background-color: #0a0a0b;
}

.container-top {
  margin: auto;
  max-width: 85%;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-1 {
  margin-top: 0.625rem;
  max-width: 65%;
  min-height: 220px;
  padding-bottom: 20px;
}

.content-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-logo-itens {
  margin: 6px;
}

.content-card {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 49%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card img {
  width: 85%;
  padding-bottom: 5px;
}

.container-mid {
  background-color: #2e3038;
  max-width: 100%;
  min-height: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-2 {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 85%;
}

.content-2-item {
    max-width: 49%;
}

.container-bot {
  margin: auto;
  max-width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  max-width: 960px;
  margin: auto;
  background-color: #2e3038;
}

.footer {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  font-weight: 300;
}

.social-icon{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

@media screen and (max-width: 720px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  #nav-btn {
    display: none;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
  }

  .content-1 {
    max-width: 100%;
  }

  .content-card {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 100%;
    margin-right: 8px;
    line-height: 20px;
  }

  .card img {
    width: 100%;
  }

  .content-2{
      flex-direction: column;
  }

  .footer{
      flex-direction: row;
  }
}
