@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {

    /* Color*/
    --color-1: #c52c2c;
    /*#333333*/
    --color-2: #1D5A93;
    --color-3: #707F89;
    --color-4: #FAFAFA;
    --color-5: #EEF4F8;
    --color-6: #ffffff;

    /* Font Size*/
    --font-1: 10px;
    --font-2: 12px;
    --font-3: 14px;
    --font-4: 16px;
    --font-5: 18px;
    --font-6: 22px;
    --font-7: 26px;
    --font-8: 28px;
    --font-9: 36px;
    --font-10: 38px;

    /* FONT FAMILY*/

    --font-family: 'Roboto', sans-serif;
}


.message.red {
    margin-top: 50px;
    background-color: #c52c2c;
}

/* ============== Reset / Normalize / Sanitize =============== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ============================================================= */

/* Basic */
body {
    font-family: var(--font-family);
    background-color: var(--color-4);
}

html,
body {
    scroll-behavior: smooth;
}

.container {
    max-width: 84%;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .container {
        width: 91%;
        max-width: 1240px;
    }
}

/* HEADER */

.header {
    position: relative;
    background-color: var(--color-4);
    margin-bottom: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

@media (min-width: 900px) {
    .header .container {
        height: 100px;
    }
}

.site {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site img {
    width: 150px;
}

@media(min-width: 900px) {
    .site img {
        width: 150px;
        margin-right: 18px;
    }
}

/* NAV MOBILE */

@media (max-width: 899px) {

    html.open,
    .open body {
        height: 100%;
        overflow: hidden;
    }

    .open form {
        display: none;
    }

    .open .nav {
        left: 40%;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .nav {
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 100%;
        width: 60%;
        height: 100vh;
        background: rgba(29, 90, 147, 0.9);
        color: var(--color-6);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.5s;
    }

    .nav ul {
        list-style: none;
        font-weight: bold;
        text-align: center;
    }

    .nav li:not(:last-child) {
        margin-bottom: 40px;
    }

    .nav .btn {
        color: inherit;
        width: 100%;
    }
}

/* NAV DESKTOP */

@media (min-width: 900px) {
    .nav-button {
        display: none;
    }

    .nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        color: var(--color-2);
    }

    .nav li:not(:last-child) {
        margin-right: 23px;
    }

    .nav .btn {
        width: 148px;
        border-color: var(--color-1);
    }
}

/*  NAV HAMBURGER*/

.nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 20px;
    height: 14px;
    cursor: pointer;
    color: var(--color-2);
}

.nav-button::before,
.nav-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
    transition: 0.3s ease-in-out;
}

.nav-button::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
}

/* NAV HAMBURGER CLOSE */

.open .nav-button {
    z-index: 1000;
    color: white;
}

.open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
}

.open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
}

/* ========================= BUTTON =========================== */

/* Button*/

.btn {
    display: block;
    width: 208px;
    margin: 0 auto;
    padding: 13px 13px 14px;
    box-sizing: border-box;
    border: 2px solid currentColor;
    border-radius: 24px;
    color: var(--color-1);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* ===================== HERO CAROUSEL ====================== */

.hero .container {
    max-width: 100%;
    margin-bottom: 80px;


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide .card {
    padding: 16px;
}

.swiper-slide .card h2 {
    font-size: var(--font-7);
}

.swiper-slide .card p {
    font-size: var(--font-4);
}

@media(min-width:900px) {
    .hero .container {
        max-width: 1240px;
    }
}
=======
.swiper-slide .card{
    padding: 16px;
}

.swiper-slide .card h2{
    font-size: var(--font-7);
}

.swiper-slide .card p{
    font-size: var(--font-4);
}

/* ================================================================= */
/* PRICES*/

.prices {
    padding: 67px 0;
    text-align: center;
}

.prices h2 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: var(--font-7);
    color: var(--color-2);
}

@media (min-width: 900px) {
    .prices {
        padding: 95px 0 87px;
    }

    .prices h2 {
        font-size: 36px;
    }
}

/* sevices FEATURES*/

.features {
    margin-top: 53px;
    color: var(--color-6);
}

.feature {
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--color-2);
    border-radius: 15px;
}

.feature:not(:last-child) {
    margin-bottom: 67px;
}


.feature h3 {
    margin-bottom: 17px;
    font-size: 38px;
    line-height: 1.6;
}

.feature h4 {
    margin-bottom: 17px;
    font-size: 26px;
    line-height: 1.6;
}

.feature p {
    max-width: 264px;
    margin: 0 auto 25px;
    font-size: var(--font-3);
    line-height: 1.85;
}

.feature .btn {
    border: none;
    color: var(--color-6);
    background-color: var(--color-1);
}

@media(min-width:900px) {
    .features {
        display: flex;
        margin-top: 75px;
    }

    .feature {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 3.22%;
    }

    .feature:first-child {
        margin-left: 3.22%;
    }

    .feature:not(:last-child) {
        margin-bottom: 0;
    }

    .feature h3 {
        margin-bottom: 26px;
        line-height: 1.4;
    }

    .feature p {
        width: 78%;
        max-width: none;
    }

    .feature .btn {
        margin-top: auto;
    }
}

/* Button*/

.btn {
    display: block;
    width: 208px;
    margin: 0 auto;
    padding: 13px 13px 14px;
    box-sizing: border-box;
    border: 2px solid currentColor;
    border-radius: 24px;
    color: var(--color-1);
    font-size: var(--font-4);
    font-weight: bold;
    text-align: center;
}


/* MESSAGE */

#services.message {
    background-color: #c52c2c;
  margin-top: 80px;
}

.message {
    background-color: var(--color-2);
    color: var(--color-6);
    padding: 67px 0;
}

.message h2 {
    font-size: var(--font-8);
    line-height: 1.62;
    margin-bottom: 30px;
}

.message p {
    font-size: var(--font-4);
    line-height: 1.73;
    max-width: 640px;
    margin: 0 auto;
}

.message .container {

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.message .item {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    text-align: left;
}


.message .item img {
    padding: 8px;
    box-sizing: border-box;
}

@media(min-width:900px) {
    .message {
        padding: 81px 0;
    }

    .message h2 {
        font-size: var(--font-10);
        line-height: 1.33;
    }


    .message .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .message .item {
        display: flex;
        box-sizing: border-box;
        padding: 8px;
        align-items: center;
        width: 50%;
        text-align: left;
    }

}

@media (max-width: 374px) {
    .message h2 {
        font-size: var(--font-6);
    }
}

/* ================================================== */
/* CONTACT */

.contact {
    padding: 62px 0;
    background-color: var(--color-5);
    color: var(--color-2);
}

.contact h2 {
    margin-bottom: 42px;
    font-size: var(--font-7);
}

.contact h2+p {
    font-size: var(--font-3);
    line-height: 1.73;
}

@media(min-width:900px) {
    .contact {
        background: none;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .contact .container {
        display: flex;
        justify-content: space-between;
        padding: 96px 9% 62px;
        box-sizing: border-box;
        background-color: var(--color-5);
    }

    .contact .text {
        flex: 0 0 auto;
    }

    .contact .form {
        flex: 1 1 auto;
        max-width: 475px;
        margin-left: 1em;
        margin-top: 0;
    }

    .contact h2 {
        font-size: var(--font-9);
    }

    .contact h2+p {
        font-size: var(--font-4);
        line-height: 1.73;
    }
}

/* CONTACT FORM */

.form {
    margin-top: 46px;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
    width: 100%;
    margin-bottom: 17px;
    padding: 14px 20px 15px;
    border: 1px solid var(--color-4);
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    color: var(--color-2);
    font-family: var(--font-family);
    font-size: var(--font-4);
    border-radius: 10px;
}

.form::placeholder {
    color: var(--color-4);
}

.form textarea {
    height: 150px;
}

.form .btn {
    width: 100%;
    margin: 0;
    border: none;
    background-color: var(--color-1);
    font-family: var(--font-family);
    color: var(--color-6);
    cursor: pointer;
    -webkit-appearance: none;
}

@media(min-width:900px) {
    .form .btn {
        width: 272px;
    }
}

/* FOOTER */

.footer {
    padding: 38px 0 56px;
    background-color: var(--color-1);
    margin-top: -48px;
    padding: 105px 0 88px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer .site img {
    width: 200px;
}

.footer .site .name {
    font-size: var(--font-6);
    color: var(--color-6);
}

.footer .add {
    color: var(--color-6);
    font-size: var(--font-2);
    line-height: 2;
}

.footer .sns {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.footer .sns img {
    width: 35px;
}

@media(min-width:900px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer .info {
        flex-direction: row;
    }

    .footer .site img {
        width: 200px;
        margin-right: 18px;
    }

    .footer .site .name {
        font-size: var(--font-6);
    }

    .footer .add {
        margin: 22px 0 0 77px;
    }

    .footer .sns {
        height: 59px;
        align-items: center;
    }
}